*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    height: 90vh;
}

h1{
    font-size: 3rem;
    text-align: center;
    
}

h2{
    font-size: 2rem;
    text-align: center;
}

/*procesos*/

.Proyectos-A1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.proyectos-a{
    border: 3px solid black;
    border-radius: 5px;
    width: 300px;
    margin: 20px;
    
}


/*fin de procesos*/